<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-8">
        <h3 class="title-up">Charges </h3>
      </div>
      <div class="col-md-4">
        <%= link_to new_gov_module_voucher_amount_path(amountable_id: @tricycle.id, amountable_type: @tricycle.class.to_s) do %>
          <span class="btn btn-outline-primary btn-sm float-right" data-toggle="tooltip" title="Add Additional Charges">
            <i class="fa fa-plus-circle"></i> Add
          </span>
        <% end %>
  </div>
  <div class="card-body">

  </div>
</div>
