<%= link_to gov_module_tricycle_path(tricycle) do %>
  <div class="row">
    <div class="col-md-2">
      <%= image_tag(tricycle.avatar, height: 45, width: 45, class: "img-circle") %>
    </div>
    <div class="col-md-10">
      <h3 class="card-title"><%= tricycle.plate_number %></h3>
      <small class="text-muted"><i class="fa fa-building"> <%= tricycle.tricycle_organization_name %></i></small>
    </div>
  </div>
<% end %>
