<div class="card card-danger">
  <div class="card-body">
    <h3 class="card-title"> Settings </h3>
    <%= link_to 'Destroy', gov_module_tricycle_path(tricycle), method: :delete, data: { confirm_with: "Are you sure you want to destroy this tricycle?" } %>
  </div>
</div>
