<h4 class='title-up'> Businesses </h4>
<% businesses_data = [] %>
<% businesses_data << { "With Permits #{Date.current.year}" => current_locality.businesses.with_permits(from_date: Date.current.beginning_of_year, to_date: Date.current.end_of_year).distinct.size } %>
<% businesses_data << { "Without Permits #{Date.current.year}" => current_locality.businesses.without_permits(from_date: Date.current.beginning_of_year, to_date: Date.current.end_of_year).distinct.size } %>
<% businesses_data << { "Closed" => current_locality.businesses.closed.size } %>


      <%= pie_chart (Hash[*businesses_data.collect{|h| h.to_a}.flatten].delete_if{|k,v| v.blank?}),messages: {empty: "No data"}, download: true, legend: true, label: "Value" %>
<hr>