<div class="card">
  <div class="card-body">
<%= link_to 'All Tricycle Permits (Excel)', gov_module_reports_tricycle_with_permits_path(format: 'xlsx') %><br>
<span class="text-muted"> Generate report for all business permits issued. </span>
<hr>
<span class="text-muted"> Or choose dates </span><br>
<%= form_tag({:action => "index", format: 'xlsx', controller: "gov_module/reports/tricycle_with_permits" }, {:method => :get})  do %>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= text_field_tag :from_date, @date, :class => 'datepicker form-control border-input', :placeholder => "From Date" %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= text_field_tag :to_date, @date, :class => 'datepicker form-control border-input', :placeholder => "To Date" %>
      </div>
    </div>
    <div class="col-md-1">
      <button type="submit" class="btn btn-default"> Go</button>
    </div>
  </div>
<% end %>
</div>
</div>
