<!-- Brand Logo -->
    <a href="/" class="brand-link">

        <%#= image_tag("permit_hub.png", class: "brand-image img-circle elevation-1") %>

      <span class="brand-text font-weight-light">Permit Hub</span>
    </a>
