<!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar user panel (optional) -->
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">

    </div>
    <div class="info">
      <a href="#" class="d-block"><%= current_taxpayer.first_name.try(:titleize) %></a>
    </div>
  </div>

  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
      <li class="nav-item">
        <a href="/taxpayer_module/taxpayers/<%= current_taxpayer.id%>" class="nav-link">
          <i class="nav-icon fa fa-user"></i>
          <p>
            Your Profile
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="/taxpayers/<%= current_taxpayer.id%>/businesses" class="nav-link">
          <i class="nav-icon fa fa-server"></i>
          <p>
            Businesses
          </p>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
