<li class="nav-item">
  <a href="/gov_module/businesses" class="nav-link">
    <i class="nav-icon fa fa-building"></i>
    <p>
      Businesses
    </p>
  </a>
</li>
<li class="nav-item">
  <a href="/gov_module/tricycles" class="nav-link">
    <i class="nav-icon fa fa-motorcycle"></i>
    <p>
      Tricycles
    </p>
  </a>
</li>
<li class="nav-item">
  <a href="/gov_module/assessments" class="nav-link">
    <i class="nav-icon fa fa-file"></i>
    <p>
      Assessments
    </p>
  </a>
</li>
<li class="nav-item">
  <a href="/gov_module/treasury/cash_books" class="nav-link">
    <i class="nav-icon fa fa-file"></i>
    <p>
      Cash Books
    </p>
  </a>
</li>

<li class="nav-item">
  <a href="/gov_module/treasury/cash_receipts" class="nav-link">
    <i class="nav-icon fa fa-file"></i>
    <p>
      Receipts
    </p>
  </a>
</li>
