  <li class="nav-item">
    <a href="/gov_module/taxpayers" class="nav-link">
      <i class="nav-icon fa fa-users"></i>
      <p>
        Taxpayers
      </p>
    </a>
  </li>
  <li class="nav-item">
    <a href="/gov_module/businesses" class="nav-link">
      <i class="nav-icon fa fa-building"></i>
      <p>
        Businesses
      </p>
    </a>
  </li>