<div class="card">
  <div class="card-header">
    <h3 class="title-up"> Reports </h3>

  </div>
  <div class="card-body">
    <%= link_to "Without Permits", gov_module_public_market_businesses_without_permits_path(@public_market, format: 'csv') %><br>
    <span class="text-muted"> Generate report for businesses without permits </span>
<hr>
    <h3 class="title-up"> With Permits </h3>
    <%= form_tag({:action => "index", format: 'csv', controller: "gov_module/public_markets/business_permits" }, {:method => :get})  do %>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <%= text_field_tag :from_date, @date, :class => 'datepicker form-control border-input', :placeholder => "From Date" %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <%= text_field_tag :to_date, @date, :class => 'datepicker form-control border-input', :placeholder => "To Date" %>
                  </div>
                </div>
                <div class="col-md-1">
                  <button type="submit" class="btn btn-outline-primary"> Generate</button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

</div>
