<div class="container-fluid">
  <section class="punchline-section">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 id='punchline'>Process business permits online</h1>
        <p class="punchline-lead text-gray">
          Permitbox makes it easy for your City to adapt online permit processing. <br> From online applications, online payments from taxpayers, anytime and anywhere.
        </p>
        <div class="cta">
          <a href="/gov_module/demo_request_processings/new" class="btn btn-lg btn-secondary button-cta">Request Demo for Free</a>
        </div>
      </div>
    </div>
  </section>
</div>
  <section class="new-normal">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2 class='sublead'> Adapt to the new normal of <span class="online-permit">online permit processing</span>. </h2>
       <p class="sublead-items">We are leaving an old world behind. PermitBox is the fastest way for your city to onboard to online permit processing.
       Subscribing to PermitBox will enable you to: </p>
        <ul>
        <li>Accept and review online applications </li>
        <li>Accept online payments </li>
        <li>Approve permits online </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="landing-page-features">
    <div class='row'>
      <div class='col-md-7 offset-md-2'>
        <h2 class="sublead"> How it works </h2>
        <p class="sublead-items">
          Permit Hub connects different departments (Mayors Office, Treasury Office,
          Engineering Office, etc.) giving them a central source of information on businesses
          Handle applications, payments and approval in one solution

        </p>
        <h3> Why it's better: a constant barrage of notifications from a half dozen apps steals your attention and lets work intrude on personal time. By centralizing your notifications, Basecamp makes it easy to keep on top of things and minimize interruptions.
      </div>
    </div>
  </section>



<section class="new-normal">
    <div class="row">
      <div class="col-md-10 offset-md-2">
        <h2 class='sublead'> Providing modern technology for <span class="online-permit">forward thinking mayors</span>. </h2>
        <span>Digital Transformation is not just a concept, but a process.

        Do it in an agile and affordable manner using our framework.</span>
      </div>
    </div>
  </section>
<div class="container">
    <center>
    <h3>PIONEERING MUNICIPALITIES WHO TRUST US</h3>
   <p class="lead"> Our platform are trusted by these pioneering municipalities, who have modernized their business permits processing with the Permit Hub: </p>

  <span data-toggle="tooltip" title="Municipality of Lamut, Ifugao"><%= image_tag("lamut_logo.png", height: 90, width: 90) %></span> &nbsp; &nbsp;
  <span data-toggle="tooltip" title="Municipality of Tinoc, Ifugao"><%= image_tag("tinoc_logo.png", height: 90, width: 90) %></span>
   </center>
  <br>
  <hr>
  <center>
  <h3 class="title-up"> Start Modernizing your Government Now</h3>
  <p class="lead">Contact us now to see how Permit Hub can help you modernize business permits processing.</p>
<%= link_to 'Request for Demo', new_gov_module_demo_request_processing_path, class: "btn btn-outline-primary btn-lg" %>
<hr>
</center>

</div>
