<br>
<br>
<br>
<main class="bd-masthead" id="content" role="main">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6 mx-auto col-md-6 order-md-2">
       <center>
        <%#=image_tag('lamut.png', class: "img-fluid mb-3 mb-md-0 ", height: 300, width: 300) %>
      </center>

      </div>
      <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
        <h1 class="mb-3 bd-text-purple-bright">Automate and Simplify your Permitting Process.</h1>

        <p class="lead mb-4">
          PermitBox is a platform that brings together business permit applications, online payments, permit approval and more in one information hub. It provides collaboration tools, automated solutions and powerful monitoring capabilities to help cities and municipalities modernize their business permitting services .
        </p>
        <div class="d-flex flex-column flex-md-row lead mb-3">
          <a href="/docs/4.1/getting-started/introduction/" class="btn btn-lg btn-bd-secondary mb-3 mb-md-0 mr-md-3"> View Video</a>
          <a href="/gov_module/demo_request_processings/new" class="btn btn-lg btn-primary" onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download 4.1.3');">Request Demo</a>
        </div>

      </div>
    </div>

  </div>
</main>
<br>

<div class="masthead-followup row m-0 border border-white">
  <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
    <!-- Icon by Bytesize https://github.com/danklammer/bytesize-icons -->
    <svg xmlns="http://www.w3.org/2000/svg" focusable="false" width="32" height="32" fill="none" stroke="currentcolor" stroke-width="2" class="text-primary mb-2" viewBox="0 0 32 32" stroke-linecap="round" stroke-linejoin="round"><title>Import icon</title><path d="M28 22v8H4v-8M16 4v20m-8-8l8 8 8-8"/></svg>

    <h3>Collaboration Tools</h3>
    <p>Permit Hub connects different departments (Mayors Office, Treasury Office, Engineering Office, etc.) giving them a central source of information on businesses.</p>
    <p>Handle applications, payments and approval in one solution.</p>
    <p>Empower your community with an easy-to-use citizen portal</p>
    <p></p>

  </div>

  <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
    <!-- Icon by Bytesize https://github.com/danklammer/bytesize-icons -->
    <svg xmlns="http://www.w3.org/2000/svg" focusable="false" width="32" height="32" fill="none" stroke="currentcolor" stroke-width="2" class="text-primary mb-2" viewBox="0 0 32 32" stroke-linecap="round" stroke-linejoin="round"><title>Download icon</title><path d="M9 22c-9 1-8-10 0-9C6 2 23 2 22 10c10-3 10 13 1 12m-12 4l5 4 5-4m-5-10v14"/></svg>

    <h3>Cloud Based Platform</h3>
    <p>Focus on serving your citizens, not your infrastructure. Benefit from top-tier uptime, security and scalability.</p>
    <p>Your employees can track records and scheduling, make new reports and attach photos away from the office.</p>
    <p>Give citizens 24/7 self-service anywhere they have an internet connection</p>
  </div>

  <div class="col-12 col-md-4 p-3 p-md-5 bg-light border border-white">
    <!-- Icon by Bytesize https://github.com/danklammer/bytesize-icons -->
    <svg xmlns="http://www.w3.org/2000/svg" focusable="false" width="32" height="32" fill="none" stroke="currentcolor" stroke-width="2" class="text-primary mb-2" viewBox="0 0 32 32" stroke-linecap="round" stroke-linejoin="round"><title>Lightning icon</title><path d="M18 13l8-11L8 13l6 6-8 11 18-11z"/></svg>

    <h3>Automated Solutions</h3>
    <p>Automated assessments that reduce processing time and increase accuracy of records.
    </p>
    <p>Spend less by cutting expense of revisions, upgrades, security, backups and maintenance</p>
    <p>Decrease front office time spent on paper documentation</p>
    <p>Meet performance standards and powerful reporting tools with a host of reporting tools</p>
  </div>
</div>
<br>
<div class="container">
    <center>
    <h3>PIONEERING MUNICIPALITIES WHO TRUST US</h3>
   <p class="lead"> Our platform are trusted by these pioneering municipalities, who have modernized their business permits processing with the Permit Hub: </p>

  <span data-toggle="tooltip" title="Municipality of Lamut, Ifugao"><%= image_tag("lamut_logo.png", height: 90, width: 90) %></span> &nbsp; &nbsp;
  <span data-toggle="tooltip" title="Municipality of Tinoc, Ifugao"><%= image_tag("tinoc_logo.png", height: 90, width: 90) %></span>
   </center>
  <br>
  <hr>
  <center>
  <h3 class="title-up"> Start Modernizing your Government Now</h3>
  <p class="lead">Contact us now to see how Permit Hub can help you modernize business permits processing.</p>
<%= link_to 'Request for Demo', new_gov_module_demo_request_processing_path, class: "btn btn-outline-primary btn-lg" %>
<hr>
</center>

</div>
