.new-normal {
  min-height: 400px;
  background-color: #F4D800;
  padding-bottom: 40px;;
  h2 {
    padding-top: 60px;
  }
  ul li {
    padding: 5px;
    font-size: 30px;
    font-weight: 400;
  }
}
#punchline {
  padding-top: 170px;
  font-weight: bold 900;
  font-family: 'roboto-bold-webfont';
  font-size: 56px;
  color: #1f1f1f;
}
span.online-permit {
  font-weight: 700 !important;
}
.punchline-lead {
  font-family: 'roboto-regular-webfont';
  font-size: 24px;
  padding-bottom: 30px;
}
.punchline-section {
  background-color: #ECF1F2;

}
.button-cta {
  font-size: 1.25rem !important;
  border-radius: 5px;
  padding: 16px;
  background-color: black !important;
  .button-cta:hover {
    color: #ffffff;
    background-color: #5a6268 !important;
    border-color: #545b62 !important;
  }
}
.cta {
  padding-bottom: 170px;

}
.sublead {
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 20px;
  font-weight: 600;
}
.sublead-items {
  padding-top: 10px;
  font-size: 30px;
  font-weight: 400;
}
.new-normal2 {
  min-height: 400px;
  background-color: #050A30;
  padding-bottom: 40px;;
  h2 {
    padding-top: 60px;
  }
}

.online-permit {
  border-bottom: 5px solid black;
}
.landing-page-features {
  padding-top: 50px;
  background-color: #ECF1F2;
  min-height: 100px;
  padding-bottom: 100px;
}
