<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-2">
        <center>
          <%=image_tag(@locality.logo, height: 90, width: 90) %>
        </center>
      </div>
      <div class="col-md-10">
        <h3 class="title-up"> Start a Business in <%= @locality.name %></h3>
        This portal will help you understand the costs and requirements of starting a business in <%= @locality.name %>.
        <hr>
        <i class="fa fa-info-circle fa-2x"></i> Please answer the questions below carefully. Cost and requirements will be based on your answers.
      </div>
    </div>
  </div>
</div>
